// @import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
$primary-color-dark: #689f38;
$primary-color: #8bc34a;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;
$divider-color: #bdbdbd;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #F0F2F5;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-color-text;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    // background-color: $primary-color-dark;
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: $primary-color-light;
    .menu {
        width: 80%;
        justify-content: space-between;
        .menu-item {
            float: left;
            margin: 0 15px;
            .active {
                a {
                    color: #fff;
                }
            }
        }
    }
}

.nav a {
    color: $primary-color-light;
    text-transform: uppercase;
    font-weight: 900;
}

.nav a:hover {
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.notice,
.alert {
    margin-bottom: 8px;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 5px;
    color: dimgrey;
    font-size: 14px;
}

.notice {
    background-color: #d4f6c6;
}

.alert {
    background-color: #f6cfc6;
}

.errors {
    font-size: 10px;
    color: red;
}

.center {
    margin: 5rem auto;
}

.comment-bg {
    background-color: #F0F2F5;
    max-width: 80%!important;
    padding: 5px 5px;
    border-radius: 25px;
}

.card {
  margin-bottom: 1rem; }

.card-heading {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  color: white;
  padding: .75rem 1rem; }
  .card-heading .card-title {
    margin-bottom: 0; }

.profile-pic {
    border-radius: 40%;
}

// form {
//     width: 80%;
//     margin: 8px 0;
//     .field {
//         width: 100%;
//         padding: 8px 0px;
//         label {
//             margin-bottom: 8px;
//         }
//         input {
//             width: 100%;
//             border: 1px solid $divider-color;
//             border-radius: 4px;
//             padding: 8px;
//             background-color: $primary-color-light;
//         }
//         input[type="checkbox"] {
//             width: fit-content;
//         }
//     }
//     .actions {
//         display: flex;
//         justify-content: center;
//         margin: 8px 0;
//     }
//     input[type="submit"] {
//         padding: 8px;
//         width: 50%;
//         border: none;
//         border-radius: 4px;
//         background-color: $primary-color-dark;
//         color: $primary-color-light;
//         text-transform: uppercase;
//         font-weight: 900;
//     }
//     input[type="submit"]:hover {
//         background-color: $primary-color;
//         color: #fff;
//     }
//     .actions.reset {
//         input[type="submit"] {
//             width: 100%;
//         }
//     }
//     #error_explanation {
//         h2 {
//             color: $primary-color-text;
//             font-size: 1em;
//         }
//         ul {
//             color: #f00;
//         }
//     }
// }

// .title {
//     text-align: center;
//     margin-bottom: 16px;
//     text-transform: capitalize;
// }

// .new_post,
// .new_comment {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
//     label {
//         display: none;
//     }
//     .form-control {
//         width: 100%;
//         border: 1px solid $divider-color;
//         height: 64px;
//         padding: 8px;
//         margin: 4px 0;
//         border-radius: 4px;
//     }
//     .field_with_errors {
//         width: 100%;
//         .form-control {
//             border: 1px solid #f00;
//         }
//     }
//     .btn-primary {
//         width: 100%;
//     }
//     .btn-secondary {
//         width: 30%;
//         margin-left: 70%;
//     }
// }

// .timeline {
//     width: 100%;
//     margin: 16px 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     h3 {
//         margin: 8px 0;
//     }
//     .posts {
//         width: 100%;
//     }
//     .post {
//         width: 100%;
//         margin: 16px 0;
//         display: flex;
//         flex-direction: column;
//     }
//     .post-attribution {
//         float: left;
//         .post-author {
//             margin: 0 0 8px 0;
//             color: $primary-color-dark;
//             text-transform: capitalize;
//         }
//     }
//     .post-liking {
//         float: right;
//         a {
//             color: $primary-color-dark;
//             font-weight: bold;
//             font-size: 0.9em;
//             margin: 0 4px;
//         }
//         .post-date {
//             font-size: 0.6em;
//         }
//     }
//     .post-content {
//         font-size: 1.1em;
//         padding: 4px 0;
//     }
//     .post-comments-section {
//         margin: 5px;
//         width: 90%;
//         margin-left: 10%;
//         .post-comments {
//             position: relative;
//             display: flex;
//             border-bottom: 1px solid $divider-color;
//             border-radius: 3px;
//             margin-bottom: 2px;
//             padding: 10px;
//             p {
//                 font-size: .8em;
//                 width: 90%;
//             }
//             span {
//                 position: absolute;
//                 right: 3px;
//                 font-size: 0.6em;
//             }
//         }
//     }
// }

// .users-section {
//     width: 100%;
//     margin: 10px;
//     .users-list li {
//         margin-bottom: 16px;
//         text-transform: capitalize;
//         font-size: 1.2em;
//     }
//     .profile-link {
//         font-size: 0.8em;
//         margin: 0 0 8px 0;
//         color: $primary-color-dark;
//     }
// }

// .user-section {
//     width: 100%;
//     margin-left: 16px;
//     h2 {
//         text-transform: capitalize;
//     }
//     .timeline {
//         width: 100%;
//         h3 {
//             width: 100%;
//         }
//         justify-content: start;
//     }
// }

// @media only screen and (min-width: 480px) {
//     form {
//         width: 60%;
//     }
//     .new_post,
//     .timeline,
//     .users-section,
//     .user-section {
//         width: 70%;
//     }
// }

// @media (min-width: 780px) {
//     form {
//         width: 40%;
//     }
//     .new_post,
//     .timeline,
//     .users-section,
//     .user-section {
//         width: 50%;
//     }
// }

// .profile {
//     margin-left: 10px;
// }


//     .bubble {
//   position: relative;
//   min-height: 4rem;
//   padding: 1rem;
//   background: #fff;
//   border-radius: .75rem;
//   border: 1px solid #ccc; }

// .bubble:after {
//   content: '';
//   position: absolute;
//   border-style: solid;
//   border-width: 15px 15px 15px 0;
//   border-color: transparent white;
//   display: block;
//   width: 0;
//   z-index: 1;
//   margin-top: -15px;
//   left: -15px;
//   top: 50%; }

// .bubble:before {
//   content: '';
//   position: absolute;
//   border-style: solid;
//   border-width: 15px 15px 15px 0;
//   border-color: transparent #ccc;
//   display: block;
//   width: 0;
//   z-index: 0;
//   margin-top: -15px;
//   left: -16px;
//   top: 50%; }

// .post-actions {
//   margin: .313rem; }

// .comment-form .form-group {
//   width: calc(100% - 56px);
//   margin-bottom: 0; }

// .comment-form input[type='text'] {
//   width: 80%; }

// .caard-body {
//     border-radius: 20px;
// }

// .comment-avatar img {
//   width: 2.5rem;
//   margin-right: .313rem; }

//   .comment-form .comment-each {
//       border: 1px solid #ccc;
//       border-width: 100%;
//     //   width: 100%;
//   }
// .comment {
// //   border: 1px solid #ccc;
//   border-radius: .313rem;
//   padding: .25rem;
//   margin: .313rem 0;
//   overflow: auto;
// //   width: 100%; 
// }

// .post-comments {
//     border: 2px solid #ccc;
//     border-radius: .313rem;
//     padding: 10px;
//     margin: 5px 0px;
//     background-color: white;
// }